<md-toolbar class="md-info">
</md-toolbar>
<md-content class="md-padding">
    <div class="text-center">
        <h3>Environmental Monitoring</h3>
        <img src="image/logo.png" class="img-rounded" alt="">
    </div>
</md-content>