<md-toolbar class="md-info">
    <div class="md-toolbar-tools">
        <h2 flex md-truncate></h2>
    </div>
</md-toolbar>
<md-content class="md-padding" layout="column" layout-align="center scratch">
    <select name="id_perangkat" id="id_perangkat" ng-model="pilih.id_perangkat">
        <option value="pilih">--- ID Perangkat ---</option>
        <option value="safa">safa</option>
        <option value="delta">delta</option>
    </select><br>
    <div layout="column" layout-align="center center" ng-if="status.mqtt_broker === false">
        <md-progress-circular md-diameter="96"></md-progress-circular>
        <h3>Loading....</h3>
    </div>
    <h5 class="text-center" ng-if="status.mqtt_broker === true"><b>Sistem</b></h5>
    <div class="table" ng-if="status.mqtt_broker === true">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="bg-primary">
                    <th class="text-center" style="width: 150px;">ID Perangkat</th>
                    <th class="text-center">Versi Hardware</th>
                    <th class="text-center">Versi Firmware</th>
                    <th class="text-center">Uptime</th>
                    <th class="text-center">Downtime</th>
                    <th class="text-center">SSID</th>
                    <th class="text-center">Password</th>
                    <th class="text-center">Sinyal (RSSI)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-info" ng-if="pesan_mqtt.id">
                    <td class="text-center">{{ pesan_mqtt.id }}</td>
                    <td class="text-center">{{ pesan_mqtt.vhw }}</td>
                    <td class="text-center">{{ pesan_mqtt.vfw }}</td>
                    <td class="text-center"><span class="badge badge-success">{{ pesan_mqtt.uptime }}</span></td>
                    <td class="text-center"><span class="badge badge-danger">{{ pesan_mqtt.downtime }}</span></td>
                    <td class="text-center">{{ pesan_mqtt.ssid }}</td>
                    <td class="text-center">{{ pesan_mqtt.password }}</td>
                    <td class="text-center">{{ pesan_mqtt.rssi }} dBm</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h5 class="text-center" ng-if="status.mqtt_broker === true"><b>Sensor</b></h5>
    <div class="table" ng-if="status.mqtt_broker === true">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="bg-primary">
                    <th class="text-center" style="width: 150px;">ID Perangkat</th>
                    <th class="text-center">Suhu Udara (A)</th>
                    <th class="text-center">Kelembapan (B)</th>
                    <th class="text-center">Asap Rokok</th>
                    <th class="text-center">Kebocoran Air</th>
                    <th class="text-center">Status Alarm</th>
                    <th class="text-center">Suspend</th>
                    <th class="text-center">Offset Kalibrasi A</th>
                    <th class="text-center">Offset Kalibrasi B</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-info" ng-if="pesan_mqtt.id">
                    <td class="text-center">{{ pesan_mqtt.id }}</td>
                    <td class="text-center">{{ pesan_mqtt.A }} °C</td>
                    <td class="text-center">{{ pesan_mqtt.B }} %</td>
                    <td class="text-center">
                        <div ng-switch="pesan_mqtt.C">
                            <div ng-switch-when="true">On</div>
                            <div ng-switch-when="false">Off</div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div ng-switch="pesan_mqtt.D">
                            <div ng-switch-when="true">On</div>
                            <div ng-switch-when="false">Off</div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div ng-switch="pesan_mqtt.E">
                            <div ng-switch-when="true">On</div>
                            <div ng-switch-when="false">Off</div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div ng-switch="pesan_mqtt.suspend">
                            <div ng-switch-when="true">On</div>
                            <div ng-switch-when="false">Off</div>
                        </div>
                    </td>
                    <td class="text-center">{{ pesan_mqtt.F }}</td>
                    <td class="text-center">{{ pesan_mqtt.G }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h5 class="text-center" ng-if="status.mqtt_broker === true"><b>Ambang Batas (alarm)</b></h5>
    <div class="table" ng-if="status.mqtt_broker === true">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="bg-primary">
                    <th class="text-center" style="width: 150px;">ID Perangkat</th>
                    <th class="text-center">Suhu Udara (min)</th>
                    <th class="text-center">Suhu Udara (max)</th>
                    <th class="text-center">Kelembapan (min)</th>
                    <th class="text-center">Kelembapan (max)</th>
                    <th class="text-center">Kode Alarm</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-info" ng-if="pesan_mqtt.id">
                    <td class="text-center">{{ pesan_mqtt.id }}</td>
                    <td class="text-center">{{ pesan_mqtt.H }} °C</td>
                    <td class="text-center">{{ pesan_mqtt.I }} °C</td>
                    <td class="text-center">{{ pesan_mqtt.J }} %</td>
                    <td class="text-center">{{ pesan_mqtt.K }} %</td>
                    <td class="text-center">{{ pesan_mqtt.L }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</md-content>
<md-content class="md-padding" ng-if="status.mqtt_broker === true">
    <md-tabs class="md-primary" md-center-tabs md-dynamic-height md-border-bottom>
        <md-tab label="KONTROL">
            <md-content class="md-padding" layout="row" layout-align="center start">
                <md-switch ng-model="user.kontrol.alarm" aria-label="Alarm">
                    Alarm
                </md-switch>
                 <md-switch ng-model="user.kontrol.suspend" aria-label="Suspend">
                    Suspend
                </md-switch>
            </md-content>
        </md-tab>
        <md-tab label="KONFIGURASI WIFI">
            <md-content class="md-padding" layout="row" layout-align="center start">
                <form name="konfigurasi_wifi">
                    <md-card>
                        <md-card-content>
                            <md-input-container>
                                <label>SSID</label>
                                <input type="text" ng-minlength="1" ng-maxlength="16" required="true" name="ssid" ng-model="user.konfigurasi.wifi.ssid">
                            </md-input-container>
                            <md-input-container>
                                <label>Password</label>
                                <input type="password" ng-minlength="8" ng-maxlength="16" required="true" name="password" ng-model="user.konfigurasi.wifi.password">
                            </md-input-container>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="center center">
                            <md-button class="md-raised md-warn" ng-disabled="konfigurasi_wifi.$error.required || konfigurasi_wifi.$error.min || konfigurasi_wifi.$error.max" ng-click="showKonfirmasiKirimKonfigurasiWifi($event);">KIRIM</md-button>
                        </md-card-actions>
                    </md-card>
                    <div ng-messages="konfigurasi_wifi.ssid.$error">
                        <div ng-message="required">Kolom <b>SSID</b> wajib diisi</div>
                        <div ng-message="minlength">Batas minimum kolom <b>SSID</b> sebanyak 1 karakter</div>
                        <div ng-message="maxlength">Batas maksimum kolom <b>SSID</b> sebanyak 16 karakter</div>
                    </div>
                    <div ng-messages="konfigurasi_wifi.password.$error">
                        <div ng-message="required">Kolom <b>Password</b> wajib diisi</div>
                        <div ng-message="minlength">Batas minimum kolom <b>Password</b> sebanyak 8 karakter</div>
                        <div ng-message="maxlength">Batas maksimum kolom <b>Password</b> sebanyak 16 karakter</div>
                    </div>
                </form>
            </md-content>
        </md-tab>
        <md-tab label="KALIBRASI">
            <md-content class="md-padding" layout="row" layout-align="center start">
                <form name="kalibrasi">
                    <md-card>
                        <md-card-content>
                            <div>
                                <md-input-container style="width: 200px;">
                                    <label>Suhu Udara</label>
                                    <input type="number" step="0.1" min="-100" max="100" required="true" name="suhu_udara" ng-model="user.kalibrasi.sensor.suhu_udara">
                                </md-input-container>
                                <md-input-container style="width: 200px;">
                                    <label>Kelembapan</label>
                                    <input type="number" step="0.1" min="-100" max="100" required="true" name="kelembapan" ng-model="user.kalibrasi.sensor.kelembapan">
                                </md-input-container>
                            </div>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="center center">
                            <md-button class="md-raised md-warn" ng-disabled="kalibrasi.$error.required || kalibrasi.$error.min || kalibrasi.$error.max" ng-click="showKonfirmasiKirimKalibrasi($event);">KIRIM</md-button>
                        </md-card-actions>
                    </md-card>
                    <div ng-messages="kalibrasi.suhu_udara.$error">
                        <div ng-message="required">Kolom <b>suhu udara</b> wajib diisi</div>
                        <div ng-message="min">Batas minimum kolom <b>suhu udara</b> sebesar -100</div>
                        <div ng-message="max">Batas maksimum kolom <b>suhu udara</b> 100</div>
                    </div>
                    <div ng-messages="kalibrasi.kelembapan.$error">
                        <div ng-message="required">Kolom <b>kelembapan</b> wajib diisi</div>
                        <div ng-message="min">Batas minimum kolom <b>kelembapan</b> sebesar -100</div>
                        <div ng-message="max">Batas maksimum kolom <b>kelembapan</b> 100</div>
                    </div>
                </form>
            </md-content>
        </md-tab>
        <md-tab label="AMBANG BATAS">
            <md-content class="md-padding" layout="row" layout-align="center start">
                <form name="kalibrasi">
                    <md-card>
                        <md-card-content>
                            <div>
                                <md-input-container style="width: 200px;">
                                    <label>Suhu Udara (min)</label>
                                    <input type="number" step="0.1" min="-100" max="100" required="true" name="suhu_udara" ng-model="user.ambang_batas.sensor.suhu_udara.min">
                                </md-input-container>
                                <md-input-container style="width: 200px;">
                                    <label>Suhu Udara (max)</label>
                                    <input type="number" step="0.1" min="-100" max="100" required="true" name="suhu_udara" ng-model="user.ambang_batas.sensor.suhu_udara.max">
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container style="width: 200px;">
                                    <label>Kelembapan (min)</label>
                                    <input type="number" step="0.1" min="-100" max="100" required="true" name="kelembapan" ng-model="user.ambang_batas.sensor.kelembapan.min">
                                </md-input-container>
                                <md-input-container style="width: 200px;">
                                    <label>Kelembapan (max)</label>
                                    <input type="number" step="0.1" min="-100" max="100" required="true" name="kelembapan" ng-model="user.ambang_batas.sensor.kelembapan.max">
                                </md-input-container>
                            </div>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="center center">
                            <md-button class="md-raised md-warn" ng-click="showKonfirmasiKirimAmbangBatas($event);">KIRIM</md-button>
                        </md-card-actions>
                    </md-card>
                </form>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>